


/* body styling */

body {
    font-family: merriweather-sans, sans-serif;
    font-weight: 300;
    color: #0C3C60;
  }
  
  /* heading styling */
  
  h1,
  h2,
  h3 {
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #0C3C60;
  }
  
  h4,
  h5,
  h6 {
    font-family: raleway, sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: #0C3C60;
  }

  /* logo */
  #logo {
    float: left;
    font-size: 280%;
}

  /* navigation menu */
  #menu {
    font-size: 80%;
    letter-spacing: 5px;
    background-color: #fff;
    vertical-align: top;
  }

  #menu,
menu ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 0;
}

#menu,
#menu li {list-style-type: none;
    margin-right: 40px;}

    #menu a {
        text-decoration: none;
        color: inherit;
      }
      
      #menu a:hover {
        border: 1px solid #85C5D4;
        padding: 10px;
      }
      
      .active {
        border: 1px solid #85C5D4;
        padding: 10px;
      }

      /* hero image */

#hero-image {
  height: 400px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/hero-home-page.jpg) no-repeat center center;
}

      /* introduction */

      .introduction-container {
        background-color: lightblue;
        padding-left: 100px;
        padding-right: 100px;
        }


/* who we are what we do */

.who-and-what-container {
  background-color: lightslategray;
  padding-left: 100px;
  padding-right: 100px;
  }

        #who {
          padding-top: 30px;
          padding-left: 100px;
          width: 25%;
          float: left;
        }
        
        #what {
          padding-top: 30px;
          padding-right: 100px;
          width: 50%;
          float: right;
        }



    
      /* Awareness */

      .flex-container {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        background-color: orange;
        /* padding-left: 80px;
        padding-right: 80px; */
        }

      /* figure {
        display: flex;
        flex-flow: row;
        justify-content: flex-start;
      } */
      
      img {
        width: 25vw;
        margin-bottom: 0;
      }
      
      figure {
        display: flex;
        flex-flow: column;
        width: 25vw;
      }

      figcaption {
        align-self: flex-start;
        border-bottom: 2px solid rgb(169, 13, 94);
        font-size: 80%;
        width: 25vw;}