@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Raleway:wght@300&display=swap');

/* body styling */

body {
    font-family: merriweather-sans, sans-serif;
    font-weight: 300;
    color: #0C3C60;
  }
  
  /* heading styling */
  
  h1,
  h2 {
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #0C3C60;
  }
  
  h3,
  h4 {
    letter-spacing: 4px;
    color: #0C3C60;
    font-weight: bolder;
  }


  h5,
  h6 {
    font-family: raleway, sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: #0C3C60;
  }

header {
  padding-right: 100px;
  padding-left: 100px;
}  

/* #nav-container {
  background-color:orange;
  height: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 0px;
  } */

/* logo */
#logo {
float: left;
position: absolute;
top: 5px;
}

/* navigation links */


#menu {
  font-size: 80%;
  letter-spacing: 4px;
  background-color: #fff;
  vertical-align: top;
  padding: 20px;
}

#menu,
menu ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#menu,
#menu li {
  list-style-type: none;
  margin-right: 10px;

}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border: 1px solid #85C5D4;
  padding: 10px;
}

.active {
  border: 1px solid #85C5D4;
  padding: 10px;
}

/* hero image */
#hero-image {
  height: 800px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/hero-home-page.jpg) no-repeat center center;
}

#hero-image-text { 
position: absolute; 
top: 125px; 
left: 100px; 
/* width: 100%;  */
letter-spacing: 4px;  
background: rgba(255, 255, 255, 0.7);
padding: 10px; 
}

/* hero image text */
#hero-image-main-text { 
  position: absolute; 
  top: 175px; 
  left: 100px;
  font-size: 50px;
  text-size-adjust: 300%;
  letter-spacing: 4px;  
  background: rgba(255, 255, 255, 0.7);
  padding: 10px; 
  }

  /* hero image footprint */
#hero-image-footprint-text { 
  position: absolute; 
  text-align: center;
  font-weight: bold;
  top: 500px; 
  left: 200px; 
  font-size: 35px;
  text-size-adjust: 300%;
  letter-spacing: 4px;  
  background: rgba(255, 255, 255, 0.9);
  padding: 10px; 
}

#hero-image-footprint {
  height: 800px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/footprint-hero.jpg) no-repeat center center;
}

/* hero image hope */
#hero-image-hope {
  height: 800px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/protest-hero.jpg) no-repeat center center;
}

#hero-image-hope-text { 
  position: absolute; 
  top: 175px; 
  color: #fdfdfd;
  left: 100px; 
  font-size: 40px;
  letter-spacing: 4px;  
  background: rgba(0,0,0, 0.7);
  padding: 10px; 
  }

  

  /* lifestyle hero image */
#hero-image-lifestyle {
  height: 800px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/fighting-hero.jpg) no-repeat center center;
}
#hero-image-lifestyle-text { 
  position: absolute; 
  top: 125px; 
  left: 100px; 
  /* width: 100%;  */
  letter-spacing: 4px;  
  background: rgba(255, 255, 255, 0.7);
  padding: 10px; 
  }
  
  /* hero image text */
  #hero-image-lifestyle-text { 
    position: absolute; 
    top: 175px; 
    left: 100px; 
    font-size: 50px;
    letter-spacing: 4px;  
    background: rgba(255, 255, 255, 0.7);
    padding: 10px; 
    }


/* join us */
#hero-image-join {
  height: 800px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/collective-join-us.jpg) no-repeat center center;
}

/* introduction */

.introduction-container {
background-color: white;
padding-left: 105px;
padding-right: 120px;
}


/* who we are what we do */

#who-and-what-container {
background-color: white;
width: 100%;
padding-left: 50px;
padding-right: 60px;
overflow: hidden; 
}

#who {
background-color: white;
padding-top: 30px;
padding-left: 50px;
width: 25%;
float: left;
}
        
#what {
background-color: white;  
padding-top: 30px;
padding-right: 150px;
width: 50%;
float: right;
}

/* awareness */

/* awareness image with text over */
#awareness-image-container {
  background-color: white;       
  padding-left: 25px;
  padding-right: 70px;
  }

.awareness-intro { 
  position: relative; 
  width: 100%; 
}

.awareness-intro-h { 
  position: absolute; 
  top: 200px; 
  left: 30px; 
  width: 100%; 
}

.awareness-intro-h text { 
  color: white; 
  /* font: bold 24px/45px Helvetica, Sans-Serif;  */
  letter-spacing: 1px;  
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}

/* awareness introduction image caption */

#awareness-intro-image {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

#awareness-intro-image-caption {
  align-self: flex-start;
  padding-left: 1em;
  margin-left: 1em;
  width: 25vw;
  padding-right: 10px;
}

/* awareness section */

.flex-container {
display: flex;
justify-content: flex-start;
flex-direction: row;
background-color: white;       
padding-left: 60px;
}
      
.awareness-image {
width: 24vw;
margin-bottom: 0;
}
      
.awareness-figure {
background-color: white;
display: flex;
flex-flow: column;
width: 24vw;
/* padding-left: 10px;
padding-right: 10px; */
}

.awareness-caption {
align-self: flex-start;
text-align: center;
border-bottom: 2px solid #0C3C60;
font-size: 80%;
width: 24vw;
}

.more-info {
  text-decoration: none;
}

/* footer */

#footer-container {
background-color:#0C3C60;
margin-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
}

.emailSignup {
  display: block;
  background: #0C3C60;
  width: 100%;
  margin: 0 0 20px;
  position: relative;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
}

.emailSignup h2 {
  font-size: 32px;
  margin: 0 0 10px;
  color: #FFFFFF;
}

.emailSignup p {
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 20px;
  color: #D3D3D3;
}

.emailSignup form {
  text-align: center;
}

.emailSignup--email-input {
  border: 0;
  outline: 0;
  width: 50%;
  height: 46px;
  line-height: 46px;
  padding: 5px 20px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 3px;
}

.emailSignup--email-submit {
  border: 0;
  width: 18%;
  height: 46px;
  line-height: 46px;
  font-size: 22px;
  font-weight: bold;
  background: #85C5D4;
  color: #FFFFFF;
  border-radius: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 1px #85C5D4;
}

.closeBox {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 9999px;
  cursor: pointer;
}

/* un sustainable development goals */

#un-container {
background-color: rgb(56, 74, 80);
padding-left: 50px;
padding-right: 50px;
}

.un-flex-grid {
  display: block;
  margin-left: 50px;
  margin-right: auto;
}

.un-img {
  float: left;
  width: 19%;
  padding-bottom: 21px;
}

.un-img-horizontal {
  float: left;
  width: 19%;
  padding-bottom: 21px;
}

/* rewilding */
#hero-image-rewilding {
  height: 800px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/elephant-rewild.jpg) no-repeat center center;
}

#awareness-container {
  background-color:white;
  width: 100%;
  padding-left: 50px;
  padding-right: 50px;
  overflow: hidden; 
  }
  
  #title {
  padding-top: 30px;
  padding-left: 50px;
  width: 25%;
  float: left;
  }
          
  #solution {
  padding-top: 30px;
  padding-right: 150px;
  width: 50%;
  float: right;
  }

/* navigation to next awareness page */
#next-awareness-container {
  background-color: #fff;
  width: 100%;
  overflow: hidden; 
  }

#next-awareness-education{
  background-image: url(../images/hero-images/education-of-girls.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

#next-awareness-education a {
  color: #fff;
  font: raleway, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
  padding-top: 75px;
  padding-bottom: 100px;
  padding-left: 300px;
  padding-right: 300px;
  box-sizing: border-box;
}

#next-awareness-education a:hover {
  font-weight: bolder;
}


  /* the team */

  #about-container {
  background-color:white;
  width: 100%;
  padding-right: 50px;
  overflow: hidden; 
  }


  .about-section{
    background-image: url(../images/home-page/the-team.jpg);
    background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.inner-container{
    width: 35%;
    float: right;
    background-color: #fdfdfd;
    padding: 25px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 10px;
    padding-right: 100px;
}

/* footprint page styling */

#footprint-container {
  background-color: white;
  width: 100%;
  overflow: hidden;
  padding-left: 50px; 
  }
  
  #footprint-main {
  background-color: white;
  padding-top: 30px;
  padding-left: 50px;
  width: 50%;
  float: left;
  }
          
  #footprint-body {
  background-color: white;  
  padding-top: 30px;
  padding-left: 50px;
  width: 50%;
  float: left;
  }

  #sink-image {
    width: 1000px;
    height: auto;
    padding-left: 100px;
  } 

  /* hope */
  /* need to make specific */

  #net-zero-neutral {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 22vw;
    background-color: white;       
    padding-top: 50px;
    padding-left: 25px;
    }
  
  #hope-figure {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
  }

  
      
      #footprint-main {
      background-color: white;
      padding-top: 30px;
      padding-left: 50px;
      width: 55%;
      float: left;
      }
              
      #footprint-body {
      background-color: white;  
      padding-top: 30px;
      padding-left: 50px;
      width: 55%;
      float: left;
      }
    
      #sink-image {
        width: 1100px;
        height: auto;
        padding-left: 100px;
      } 

/* offseting section */
#offsetting-introduction-container {
background-color: white;
padding-left: 105px;
padding-right: 120px;
}

/* offset image with text over */

.offsetting-container {
display: flex;
justify-content: flex-start;
flex-direction: row;
background-color: white;
padding-left: 175px;     
}

.offset-image { 
  width: 25vw; 
  margin-bottom: 5px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.offset-intro { 
  position: relative; 
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.offset-intro-h { 
  position: absolute; 
  bottom: 50px; 
}

.offset-intro-h figcaption { 
  color: white; 
  letter-spacing: 1px;  
  font-size: 15px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}

  
          
    



  /* offsetting projects  */
        


/* media rules */

/* @media screen and (max-width:1200px){
    .inner-container{
        padding: 80px;
    }

@media screen and (max-width:1000px){
    .about-section{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container{
        width: 100%;
    }

@media screen and (max-width:600px){
    .about-section{
        padding: 0;
    }
    .inner-container{
        padding: 30px;} */