@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Raleway:wght@300&display=swap');

html, body {
  height: 100%;
}

body > footer {
  position: sticky; 
  top: 100vh;
}
/* body styling */

body {
    font-family: merriweather-sans, sans-serif;
    font-weight: 300;
    color: #0C3C60;
  }
  
  /* heading styling */
  
  h1,
  h2 {
    font-family: raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #0C3C60;
  }
  
  h3,
  h4 {
    font-family: raleway, sans-serif;
    letter-spacing: 4px;
    color: #0C3C60;
    font-weight: bolder;
  }


  h5,
  h6 {
    font-family: raleway, sans-serif;
    font-size: larger;
    font-weight: bolder;
    color: #0C3C60;
  }

header {
  padding-right: 100px;
  padding-left: 100px;
}  

/* #nav-container {
  background-color:orange;
  height: 50px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 0px;
  } */

/* logo */
#logo {
float: left;
position: absolute;
top: 5px;
}

/* navigation links */


#menu {
  font-size: 80%;
  letter-spacing: 4px;
  background-color: #fff;
  vertical-align: top;
  padding: 20px;
}

#menu,
menu ul {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#menu,
#menu li {
  list-style-type: none;
  font-size: large;
  margin-right: 10px;

}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border: 1px solid #85C5D4;
  padding: 10px;
}

.active {
  border: 1px solid #85C5D4;
  padding: 10px;
}



/* hero image */
#hero-image {
  height: 800px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/hero-home-page.jpg) no-repeat center center;
}

#hero-image-text { 
position: absolute; 
top: 125px; 
left: 100px; 
/* width: 100%;  */
letter-spacing: 4px;  
background: rgba(255, 255, 255, 0.7);
padding: 10px; 
}

/* hero image text */
#hero-image-main-text { 
  position: absolute; 
  top: 175px; 
  left: 100px;
  font-size: 35px;
  text-size-adjust: 300%;
  letter-spacing: 4px;  
  background: rgba(255, 255, 255, 0.7);
  padding: 10px; 
  }

  /* hero image footprint */
#hero-image-footprint-text { 
  position: absolute;
  color: #fff; 
  text-align: center;
  font-weight: bold;
  top: 300px; 
  left: 75px; 
  font-size: 45px;
  text-size-adjust: 300%;
  letter-spacing: 4px;  
  padding: 10px; 
}

#hero-image-footprint {
  height: 800px;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(../images/hero-images/footprint-hero.jpg) no-repeat center center;
}

/* hero image hope */
#hero-image-hope {
  height: 800px;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../images/hero-images/protest-hero.jpg) no-repeat center center;
}

#hero-image-hope-text { 
  position: absolute;
  color: #fff; 
  text-align: center;
  font-weight: bold;
  top: 300px; 
  left: 175px; 
  font-size: 45px;
  text-size-adjust: 300%;
  letter-spacing: 4px;  
  padding: 10px; 
}

  /* lifestyle hero image */

#hero-image-lifestyle {
  height: 800px;
  width: 100%;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url(../images/hero-images/lifestyle.jpg) no-repeat center center;
}
  
  /* hero image text */
  #hero-image-lifestyle-text { 
    position: absolute;
  color: #fff; 
  text-align: center;
  font-weight: bold;
  top: 300px; 
  left: 75px; 
  font-size: 45px;
  text-size-adjust: 300%;
  letter-spacing: 4px;  
  padding: 10px; 
  }


/* join us */
#hero-image-join {
  height: 300px;
  width: 100%;
  overflow: hidden;
  background:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url(../images/hero-images/collective-join-us.jpg) no-repeat center center;
}

#hero-image-join-text { 
  position: absolute; 
  color: #fff;
  top: 75px; 
  left: 100px; 
  font-size: 100px;
  letter-spacing: 4px;  
  padding: 10px; 
  }

  /* coaching hero */
  #hero-image-coaching {
    height: 800px;
    width: 100%;
    overflow: hidden;
    background:linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .7)), url(../images/hero-images/coaching.jpg) no-repeat center center;
  }
  
  #hero-image-coaching-text {
    background-color: rgb(255, 255, 255, 0.9);
    width: 60vw;
    position: absolute; 
    top: 375px; 
    left: 20vw; 
    font-size: 20px;
    letter-spacing: 4px;  
    padding: 10px; 
    }
    
    #hero-image-coaching-text h2{
    text-align: center;}

/* introduction */

.introduction-container {
background-color: white;
padding-left: 105px;
padding-right: 120px;
}


/* who we are what we do */

#who-and-what-container {
background-color: white;
width: 100%;
padding-left: 50px;
padding-right: 60px;
overflow: hidden; 
}

#who {
background-color: white;
padding-top: 30px;
padding-left: 50px;
width: 25%;
float: left;
}
        
#what {
background-color: white;  
padding-top: 30px;
padding-right: 150px;
width: 50%;
float: right;
}

/* awareness */

/* awareness image with text over */
#awareness-image-container {
  background-color: white;       
  padding-left: 25px;
  padding-right: 70px;
  }

.awareness-intro { 
  position: relative; 
  width: 100%; 
}

.awareness-intro-h { 
  position: absolute; 
  top: 200px; 
  left: 30px; 
  width: 100%; 
}

.awareness-intro-h h2 { 
  color: white; 
  /* font: bold 24px/45px Helvetica, Sans-Serif;  */
  letter-spacing: 1px;  
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
}

/* awareness introduction image caption */

#awareness-intro-image {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  width: 80vw;
  height: auto;
}

#awareness-intro-image-caption {
  align-self: flex-start;
  padding-left: 1em;
  margin-left: 1em;
  width: 40vw;
  padding-right: 10px;
}

/* awareness section */

.flex-container {
display: flex;
justify-content: flex-start;
flex-direction: row;
background-color: white;       
padding-left: 60px;
}
      
.awareness-image {
width: 24vw;
margin-bottom: 0;
}
      
.awareness-figure {
background-color: white;
display: flex;
flex-flow: column;
width: 24vw;
/* padding-left: 10px;
padding-right: 10px; */
}

.awareness-caption {
align-self: flex-start;
text-align: center;
border-bottom: 2px solid #0C3C60;
font-size: 100%;
width: 24vw;
}

.more-info {
  text-decoration: none;
}

/* footer */

#footer-container {
background-color:#0C3C60;
margin-top: 10px;
padding-left: 10px;
padding-right: 10px;
padding-top: 10px;
}

.emailSignup {
  display: block;
  background: #0C3C60;
  width: 100%;
  margin: 0 0 20px;
  position: relative;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
}

.emailSignup h2 {
  font-size: 32px;
  margin: 0 0 10px;
  color: #FFFFFF;
}

.emailSignup p {
  font-size: 20px;
  line-height: 1.4;
  margin: 0 0 20px;
  color: #D3D3D3;
}

.emailSignup form {
  text-align: center;
}

.emailSignup--email-input {
  vertical-align: middle;
  border: 0;
  outline: 0;
  width: 50%;
  height: 46px;
  line-height: 46px;
  padding: 5px 20px;
  box-sizing: border-box;
  font-size: 18px;
  border-radius: 3px;
}

.emailSignup--email-submit {
  vertical-align: middle;
  border: 0;
  width: 18%;
  height: 46px;
  line-height: 46px;
  font-size: 22px;
  font-weight: bold;
  background: #85C5D4;
  color: #FFFFFF;
  border-radius: 3px;
  text-transform: uppercase;
  text-shadow: 0 0 1px #85C5D4;
}

.closeBox {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  line-height: 30px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  border-radius: 9999px;
  cursor: pointer;
}

/* hope */

/* hope introduction */

/* the protest */

.hope-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: white;       
  padding-left: 50px;
  }
  
        
  .hope-image {
  width: 14vw;
  margin-bottom: 0;
  border-radius: 50%;
  }
        
  .hope-figure {
  background-color: white;
  display: flex;
  flex-flow: column;
  width: 13vw;
  /* padding-left: 10px;
  padding-right: 10px; */

  }
  
  .hope-text { 
    color: white; 
    letter-spacing: 1px;  
    font-size: 15px;
    text-align: center;
    padding-left: 25px;
  }

  .hope-heading {
    color: #fff;
    font-weight: bolder;
    padding: 20px;
    background: linear-gradient(135deg, orange 50%, cyan);
  }

#protest-about-container {
  background-color:white;
  width: 83%;
  padding-left: 100px;
  overflow: hidden; 
  }


  .protest-about-section{
    background-image: url(../images/hope/climate-strike.jpg);
    background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.protest-inner-container{
    width: 35%;
    float: left;
    background-color: #fdfdfd;
    padding: 25px;
}

.protest-inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.coaching-text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 10px;
    padding-right: 100px;
}

#coaching-about-container {
  background-color:white;
  width: 83%;
  padding-left: 100px;
  overflow: hidden; 
  }

  #coaching-about-container-two {
    background-color:white;
    width: 83%;
    padding-left: 100px;
    overflow: hidden; 
    }

    #coaching-about-container-three {
      background-color:white;
      width: 83%;
      padding-left: 100px;
      overflow: hidden; 
      }

      #coaching-about-container-four {
        background-color:white;
        width: 83%;
        padding-left: 100px;
        overflow: hidden; 
        }

  .coaching-about-section{
    background-image: url(../images/join-us/manny-and-freddy.jpg);
    background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.coaching-inner-container{
    width: 75%;
    float: left;
    background-color: #fdfdfd;
    padding: 25px;
}

.coaching-inner-container h1{
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 900;
}

.coaching-text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 10px;
    padding-right: 100px;
}

/* un sustainable development goals */

#un-container {
background-color:white;
padding-left: 50px;
padding-right: 50px;
}

.un-flex-grid {
  display: block;
  margin-left: 50px;
  margin-right: auto;
}

.un-img {
  float: left;
  width: 19%;
  padding-bottom: 21px;
}

.un-img-horizontal {
  float: left;
  width: 19%;
  padding-bottom: 21px;
}

/* cop26 */

#cop-about-container {
  background-color:white;
  width: 83%;
  padding-left: 100px;
  overflow: hidden; 
  }


  .cop-about-section{
    background-image: url(../images/hope/cop26.jpg);
    background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.cop-inner-container{
    width: 35%;
    float: left;
    background-color: #fdfdfd;
    padding: 25px;
}

.cop-inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.cop-text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 10px;
    padding-right: 100px;
}

/* technology */

#hope-tech-container {
  background-color:white;
  padding-left: 100px;
  padding-right: 50px;
  }

.tech-highlight {
  color: #0C3C60;
  /* padding-left: 50px; */
}

.tech-figure {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.tech-img {
  width: 40vw;
  margin-bottom: 0;
  margin-left: 0;
}

.tech-figcaption {
  align-self: flex-start;
  border-left: 1px solid lightcoral;
  padding-left: 1em;
  margin-left: 1em;
  width: 35vw;
}
/* awareness */

/* rewilding */

#hero-image-rewilding {
  height: 400px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/elephant-rewild.jpg) no-repeat center center;
}

/* education of girls */

#hero-image-education {
  height: 300px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/education-of-girls.jpg) no-repeat center center;
}

#hero-image-waste {
  height: 400px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/waste.jpg) no-repeat center center;
}

#hero-image-building {
  height: 400px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/airconditioning-units.jpg) no-repeat center center;
}

#hero-image-climate-justice {
  height: 400px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/extreme-drought.jpg) no-repeat center center;
}

#hero-image-renewables {
  height: 400px;
  width: 100%;
  overflow: hidden;
  background: url(../images/hero-images/windfarm.jpg) no-repeat center center;
}


#awareness-container {
  background-color:white;
  overflow: hidden;
  padding-left: 50px;
  width: calc(100% - 50px); 
  }
  
  #title {
  padding-top: 30px;
  padding-left: 50px;
  width: 25%;
  float: left;
  }
          
  #solution {
  padding-top: 30px;
  padding-right: 150px;
  width: 45%;
  float: right;
  }

/* navigation to next awareness page */
#next-awareness-container {
  background-color: #fff;
  width: 100%;
  overflow: hidden; 
  }

#next-awareness-education{
  background-image: url(../images/awareness/awareness-next.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
  width: 100%;
  overflow: hidden;
}

#next-awareness-education a {
  color: #fff;
  font: raleway, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 25px;
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, .6);
  text-align: center;
  padding-top: 75px;
  padding-bottom: 100px;
  padding-left: 300px;
  padding-right: 300px;
  box-sizing: border-box;
}

#next-awareness-education a:hover {
  font-weight: bolder;
}


  /* the team */

  #about-container {
  background-color:white;
  width: 100%; 
  }


  #about-team-section{
    background-image: url(../images/home-page/the-team.jpg); no-repeat center;
    background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 100px 0;
}

.about-section{
  background-image: url(../images/home-page/the-team.jpg); no-repeat center;
  background-size: 100%;
  background-color: #fdfdfd;
  overflow: hidden;
  padding: 100px 0;
}

.inner-container{
    width: 35%;
    float: right;
    background-color: #fdfdfd;
    padding: 25px;
}

.inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}

.team-text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 10px;
    padding-right: 100px;
}

/* footprint page styling */

#footprint-main-container {
  background-color: white;
  padding-left: 50px;
  width: calc(100% - 50px); 
  }
  
  #footprint-container {
    background-color: white;
    padding-left: 50px;
    width: calc(100% - 50px); 
    }

  #footprint-main {
  background-color: white;
  padding-top: 30px;
  padding-left: 50px;
  width: 50%;
  float: left;
  }
   
  #footprint-body {
    background-color: white;
    padding-top: 30px;
    padding-left: 50px;
    width: 50%;
    float: left;
    }

  #footprint-body {
  background-color: blue;  
  padding-top: 30px;
  padding-left: 100px;
  width: 50%;
  float: left;
  }

  #sink-image {
    width: 1000px;
    height: auto;
    padding-left: 100px;
  } 

  /* hope */
  /* need to make specific */

  #net-zero-neutral {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    width: 22vw;
    background-color: white;       
    padding-top: 50px;
    padding-left: 25px;
    }
  
  #hope-figure {
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
  }

  
      
      #footprint-main {
      background-color: white;
      padding-top: 30px;
      padding-left: 50px;
      width: 55%;
      float: left;
      }
              
      #footprint-body {
      background-color: white;  
      padding-top: 30px;
      padding-left: 50px;
      width: 55%;
      float: left;
      }
    
      #sink-image {
        width: 1100px;
        height: auto;
        padding-left: 100px;
      } 

/* offseting section */
#offsetting-introduction-container {
background-color: white;
padding-left: 105px;
padding-right: 120px;
}

/* offset image with text over */

.offsetting-container {
display: flex;
justify-content: flex-start;
flex-direction: row;
background-color: white;
padding-left: 175px;     
}

.offset-image { 
  width: 25vw; 
  margin-bottom: 5px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.offset-image figcaption { 
  color: white; 
  letter-spacing: 1px;  
  font-size: 15px;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px; 
  position: relative;
  bottom: 100px;
  width: 15vw
} 

   /* lifestyle */

   /* sustainability */
  #sustainability-about-container {
    background-color:white;
    width: 100%;
    }
  
    .sustainability-about-section{
      background-image:linear-gradient(rgba(0, 0, 0, .8), rgba(0, 0, 0, .8)), url(../images/lifestyle/rainforest.jpg);
      background-color: rgba(255, 255, 255,);
      height: 600px;
      overflow: hidden;
      padding: 100px 0;
  }
  
  .sustainability-inner-container{
    position: relative;
    left: 650px;
    /* top: 50px; */
    width: 40%;
    background-color: rgb(255, 255, 255, 0.9);
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .sustainability-text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
}

/* health */

.lifestyle-heading {
  color: #fff;
  font-weight: bolder;
  padding: 20px;
  padding-left: 80px;
  background: linear-gradient(135deg, orange 50%, cyan);
}

.lifestyle-heading h1 {
  color: #fff;
  font-weight: bolder;
  padding-left: 80px;
}

   /* diet */
  #diet-about-container {
    background-color:white;
    width: 100%;
    }
  
  
    .diet-about-section{
      background-image: url(../images/lifestyle/diet.jpg);
      background-size: 100%;
      background-color: rgba(255, 255, 255,);
      overflow: hidden;
      padding: 100px 0;
  }
  
  .diet-inner-container{
    position: relative;
    left: 650px;
    /* top: 50px; */
    width: 40%;
    background-color: rgb(255, 255, 255, 0.9);
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .diet-inner-container h1{
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: 900;
  }
  
  .diet-text{
      font-size: 13px;
      color: #545454;
      line-height: 30px;
      text-align: justify;
  }
  


   /* mind */
   

  #mind-about-container {
    background-color:white;
    width: 100%;
    }
  
  
    .mind-about-section{
      background-image: url(../images/lifestyle/mindfulness.jpg);
      background-size: 100%;
      background-color: rgba(255, 255, 255,);
      overflow: hidden;
      padding: 100px 0;
  }
  
  .mind-inner-container{
    position: relative;
    left: 150px;
    /* top: 50px; */
    width: 40%;
    background-color: rgb(255, 255, 255, 0.9);
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .mind-inner-container h1{
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: 900;
  }
  
  .mind-text{
      font-size: 13px;
      color: #545454;
      line-height: 30px;
      text-align: justify;
  }

  
  /* exercise */
  #exercise-about-container {
    background-color:white;
    width: 100%;
    }
  
  
    .exercise-about-section{
      background-image: url(../images/lifestyle/exercise.jpg);
      background-size: 100%;
      background-color: rgba(255, 255, 255,);
      overflow: hidden;
      padding: 100px 0;
  }
  
  .exercise-inner-container{
    position: relative;
    left: 650px;
    /* top: 50px; */
    width: 40%;
    background-color: rgb(255, 255, 255, 0.9);
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .exercise-inner-container h1{
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: 900;
  }
  
  .exercise-text{
      font-size: 13px;
      color: #545454;
      line-height: 30px;
      text-align: justify;
  }
  

        /* methodology */

        .steps ul {
          display: flex;
          flex-wrap: wrap;
          padding-left: 50px;
        }
        
        .steps ul li {
          text-align: center;
          list-style: none;
          flex: 0 0 22%;
          padding-left: 4vw;
          padding-right: 4vw;
          padding-top: 1vw;
          padding-bottom: 1vw;
        }

        /* coaching */

        .coaching ul {
          display: flex;
          flex-wrap: wrap;
        }
        
        .coaching ul li {
          text-align: center;
          list-style: none;
          display: inline-block;
          width: 15vw;
          margin: 5vw;
        }

        

        #method-container {
          height: 600px;
          margin: 0;
          display: grid;
          grid-template-rows: 500px 100px;
          grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
          align-items: center;
          justify-items: center;
        }
        
        /* div */

        #body {
          height: 600px;
          margin: 0;
          display: grid;
          grid-template-rows: 500px 100px;
          grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
          align-items: center;
          justify-items: center;
        }
        
        div#carousel {
          grid-row: 1 / 2;
          grid-column: 1 / 8;
          width: 100vw;
          height: 500px;
          display: flex;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          transform-style: preserve-3d;
          perspective: 600px;
          --items: 5;
          --middle: 3;
          --position: 1;
          pointer-events: none;
        }
        
        picture.item {
          position: absolute;
          width: 300px;
          height: 400px;
          background-color: coral;
          --r: calc(var(--position) - var(--offset));
          --abs: max(calc(var(--r) * -1), var(--r));
          transition: all 0.25s linear;
          transform: rotateY(calc(-10deg * var(--r)))
            translateX(calc(-300px * var(--r)));
          z-index: calc((var(--position) - var(--abs)));
        }
        
        picture.item:nth-of-type(1) {
          --offset: 1;
          
        }
        picture.item:nth-of-type(2) {
          --offset: 2;
          
        }
        picture.item:nth-of-type(3) {
          --offset: 3;
          
        }
        picture.item:nth-of-type(4) {
          --offset: 4;
          
        }
        picture.item:nth-of-type(5) {
          --offset: 5;
          
        }
        
        input:nth-of-type(1) {
          grid-column: 2 / 3;
          grid-row: 2 / 3;
        }
        input:nth-of-type(1):checked ~ div#carousel {
          --position: 1;
        }
        
        input:nth-of-type(2) {
          grid-column: 3 / 4;
          grid-row: 2 / 3;
        }
        input:nth-of-type(2):checked ~ div#carousel {
          --position: 2;
        }
        
        input:nth-of-type(3) {
          grid-column: 4 /5;
          grid-row: 2 / 3;
        }
        input:nth-of-type(3):checked ~ div#carousel {
          --position: 3;
        }
        
        input:nth-of-type(4) {
          grid-column: 5 / 6;
          grid-row: 2 / 3;
        }
        input:nth-of-type(4):checked ~ div#carousel {
          --position: 4;
        }
        
        input:nth-of-type(5) {
          grid-column: 6 / 7;
          grid-row: 2 / 3;
        }
        input:nth-of-type(5):checked ~ div#carousel {
          --position: 5;
        }

/* testimonials */ 

#mindset-container{
  background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .6)), url(../images/lifestyle/water.jpg);
  height: 250px;
  background-size: 100%;
  overflow: hidden;
  padding: 100px 0;
}

.image-block {
  display: flex;
  justify-content: center;
}

.image {
height: 30vw;
  margin-right: 10px;
  text-align: center;
}

  /* events */

/* exercise */
#event-about-container {
background-color:white;
width: 100%;
}

  .events-about-section{
      background-image: url(../images/lifestyle/outside-event.jpg);
      background-size: 100%;
      background-color: rgba(255, 255, 255,);
      overflow: hidden;
      padding: 100px 0;
  }
  
  .events-inner-container{
    position: relative;
    left: 650px;
    /* top: 50px; */
    width: 30%;
    background-color: rgb(255, 255, 255, 0.9);
    padding-top: 2px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
  }
  
  .events-inner-container h1{
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: 900;
  }
  
  .events-text{
      font-size: 13px;
      color: #545454;
      line-height: 30px;
      text-align: justify;
  }


/* coaching */
#life-coaching-about-container {
background-color:white;
width: 85%;
padding-right: 10px;
overflow: hidden; 
padding-left: 100px;
}


.life-coaching-about-section{
background-image: url(../images/hope/lifecoaching.jpg);
background-size: 100%;
background-color: rgba(255, 255, 255,);
overflow: hidden;
padding: 100px 0;
}

.life-coaching-inner-container{
position: relative;
left: 200px;
/* top: 50px; */
width: 60%;
background-color: rgb(255, 255, 255, 0.9);
padding-top: 2px;
padding-bottom: 10px;
padding-left: 20px;
padding-right: 20px;
}

.life-coaching-inner-container h1{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 900;
}

.events-text{
    font-size: 13px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
}









/* ///////////////////////////////////////////////////////////////////////////////// */
/* media queries */

@media screen and (max-width: 768px) {
  
  #logo {
    position: absolute;
    top: 0px;
    left: 35vw;
  }

  #hero-image-main-text {
    left: 0px;
  }
  .mobile-remove {
    display: none;
  }

  .about-section {
    background-image: none;
  }

  .team-text {
    left: 0px;
    width: 300px
  }

  .flex-container {
    display: block;
    /* justify-content: flex-start;
    flex-direction: row; */
    background-color: white; 
    padding-left: 0;      
    }
          
    .awareness-image {
    width: 80vw;
    margin-bottom: 0;
    }
          
    .awareness-figure {
    background-color: white;
    display: flex;
    flex-flow: column;
    width: 80vw;
    padding-left: 0px;
    padding-right: 0px;
    }
    
    .awareness-caption {
    align-self: flex-start;
    text-align: center;
    border-bottom: none;
    font-size: 100%;
    width: 75vw;
    }
    
    .more-info {
      text-decoration: none;
    }

    #about-container {
      background-color:white;
      width: 100%; 
      }
    
    
      .about-section{
        background-image: none;
        background-size: 100%;
        background-color: #fdfdfd;
        overflow: hidden;
        padding: 0;
    }
    
    .inner-container{
        width: 90%;
        float: right;
        background-color: #fdfdfd;
        padding: 25px;
    }
    
    .inner-container h1{
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 900;
    }
    
    .team-text{
        font-size: 13px;
        color: #545454;
        line-height: 30px;
        text-align: justify;
        margin-bottom: 10px;
        padding-right: 100px;
    }

    /* offseting section */
#offsetting-introduction-container {
  background-color: white;
  padding-left: 105px;
  padding-right: 120px;
  }
  
  /* offset image with text over */
  
  .offsetting-container {
  display: block;
  background-color: white;
  padding-left: 5vw;     
  }
  
  .offset-image { 
    width: 95vw; 
    margin-bottom: 5px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  
  .offset-intro { 
    position: relative; 
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }
  
  .offset-intro-h { 
    position: absolute; 
    top: 200px; 
  }
  
  .offset-intro-h figcaption { 
    color: white; 
    letter-spacing: 1px;  
    font-size: 15px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px; 
  }

      #sink-image {
        width: 100%;
        height: auto;
        padding-left: 0px;
      } 

      #footprint-main {
      background-color: white;
      padding-top: 30px;
      padding-left: 5px;
      width: 80%;
      float: left;
}

#footprint-body {
  background-color: white;
  padding-top: 30px;
  padding-left: 5px;
  width: 80%;
  float: left;
}

#net-zero-neutral {
  display: block;
  justify-content: flex-start;
  flex-direction: row;
  width: 80vw;
  background-color: white;
  padding-top: 50px;
  padding-left: 0px;
}

.hope-figure {
  background-color: white;
  display: flex;
  flex-flow: column;
  width: 55vw;
}

#offsetting-introduction-container {
  background-color: white;
  padding-left: 5vw;
  padding-right: 5vw;
}

#hero-image-footprint-text {
  position: absolute;
  color: #fff;
  text-align: center;
  font-weight: bold;
  top: 300px;
  left: 20px;
  font-size: 35px;
  text-size-adjust: 300%;
  letter-spacing: 4px;
  padding: 10px;
}

#hero-image-hope-text {
  position: absolute;
  top: 375px;
  color: #fdfdfd;
  left: 20px;
  font-size: 25px;
  letter-spacing: 4px;
  padding: 10px;
}

#un-container {
  background-color:white;
  padding-left: 5px;
  padding-right: 5px;
  width: 90vw;
  display: flex;
  flex-direction: column;
  }
  
  .un-flex-grid {
    display: block;
    width: 90vw;
    margin-left: 5px;
    margin-right: auto;
  }
  
  .un-img {
    flex-direction: column;
    width: 90vw;
    padding-bottom: 5px;
  }
  
  .un-img-horizontal {
    float: left;
    width: 90vm;
    padding-bottom: 5px;
  }


  #coaching-about-container {
    background-color:white;
    width: 95%;
    padding-left: 2px;
    overflow: hidden; 
    }
  
    #coaching-about-container-two {
      background-color:white;
      width: 95%;
      padding-left: 2px;
      overflow: hidden; 
      }
  
    .coaching-about-section{
      display: none;
    }
      
/* hope page */

.hope-container {
  display: block;
  justify-content: flex-start;
  flex-direction: row;
  background-color: white;       
  padding-left: 50px;
  }
  
        
  .hope-image {
  width: 45vw;
  margin-bottom: 0;
  border-radius: 50%;
  }
        
  .hope-figure {
  background-color: white;
  display: flex;
  flex-flow: column;
  width: 45vw;
  /* padding-left: 10px;
  padding-right: 10px; */

  }

  /* technology */

#hope-tech-container {
  background-color:white;
  padding-left: 10px;
  padding-right: 0px;
  }

.tech-highlight {
  color: #0C3C60;
  /* padding-left: 50px; */
}

.tech-figure {
  display: block;
  flex-flow: row;
  justify-content: flex-start;
  left: 0;
}

.tech-img {
  width: 75vw;
  margin-bottom: 0;
  margin-left: 0;
}

.tech-figcaption {
  align-self: flex-start;
  border-left: none;
  padding-left: 0;
  margin-left: 0;
  width: 75vw;

}

#cop-about-container {
  background-color:white;
  width: 83%;
  padding-left: 0px;
  overflow: hidden; 
  }


  .cop-about-section{
    background-image: none;
    background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 0px;
}

.cop-inner-container{
    width: 100%;
    float: left;
    background-color: #fdfdfd;
    padding: 0px;
}

.cop-inner-container h1{
    margin-bottom: 0px;
    font-size: 30px;
    font-weight: 900;
}

.cop-text{
    font-size: 15px;
    color: black;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 10px;
    padding-right: 100px;
}

#protest-about-container {
  background-color:white;
  width: 95vw;
  padding-left: 0px;
  overflow: hidden; 
  }


  .protest-about-section{
    background-image: none;
    background-size: 100%;
    background-color: #fdfdfd;
    overflow: hidden;
    padding: 0px;
}

.protest-inner-container{
    width: 90%;
    float: left;
    background-color: #fdfdfd;
    padding: 5px;
}

.protest-inner-container h1{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
}
/* coaching */
#life-coaching-about-container {
  background-color:white;
  width: 85vw;
  padding-right: 10px;
  overflow: hidden; 
  padding-left: 0px;
  }
  
  
  .life-coaching-about-section{
  background-image: none;
  background-size: 100%;
  background-color: rgba(255, 255, 255,);
  overflow: hidden;
  padding: 0;
  }
  
  .life-coaching-inner-container{
  position: relative;
  left: 0px;
  /* top: 50px; */
  width: 80%;
  background-color: rgb(255, 255, 255, 0.9);
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  }
  
  .life-coaching-inner-container h1{
      margin-bottom: 10px;
      font-size: 30px;
      font-weight: 900;
  }
  
  .events-text{
      font-size: 13px;
      color: #545454;
      line-height: 30px;
      text-align: justify;
  }

  #title {
    padding-top: 30px;
    padding-left: 100px;
    width: 75%;
    float: left;
    }
            
    #solution {
    padding-top: 30px;
    padding-right: 0px;
    width: 75%;
    float: left;
    }
  
  /* navigation to next awareness page */
  #next-awareness-container {
    background-color: #fff;
    width: 100%;
    overflow: hidden; 
    }
  
  #next-awareness-education{
    background-image: url(../images/hero-images/education-of-girls.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 200px;
    width: 100%;
    overflow: hidden;
  }

  #hero-image-lifestyle-text { 
    position: absolute;
  color: #fff; 
  text-align: center;
  font-weight: bold;
  top: 300px; 
  left: 25px; 
  font-size: 45px;
  text-size-adjust: 300%;
  letter-spacing: 4px;  
  padding: 10px; 
  }

  .introduction-container {
    background-color: white;
    padding-left: 5px;
    padding-right: 5px;
    }

    #awareness-image-container {
      background-color: white;       
      padding-left: 5px;
      padding-right: 5px;
      }

      .steps ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 5px;
      }
      
      .steps ul li {
        text-align: center;
        list-style: none;
        flex: 0 0 90%;
        padding-left: 4vw;
        padding-right: 4vw;
        padding-top: 1vw;
        padding-bottom: 1vw;
      }

/* diet */
#diet-about-container {
  background-color:white;
  width: 100%;
  }


  .diet-about-section{
    background-image: none;
    background-size: 100%;
    background-color: rgba(255, 255, 255,);
    overflow: hidden;
    padding: 0px;
}

.diet-inner-container{
  position: relative;
  left: 0px;
  /* top: 50px; */
  width: 90%;
  background-color: rgb(255, 255, 255, 0.9);
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.diet-inner-container h1{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 900;
}

.diet-text{
    font-size: 15px;
    color: black;
    line-height: 30px;
    text-align: justify;
}



 /* mind */
 

#mind-about-container {
  background-color:white;
  width: 100%;
  }


  .mind-about-section{
    background-image: none;
    background-size: 100%;
    background-color: rgba(255, 255, 255,);
    overflow: hidden;
    padding: 0px;
}

.mind-inner-container{
  position: relative;
  left: 0px;
  /* top: 50px; */
  width: 90%;
  background-color: rgb(255, 255, 255, 0.9);
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.mind-inner-container h1{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 900;
}

.mind-text{
    font-size: 15px;
    color: black;
    line-height: 30px;
    text-align: justify;
}


/* exercise */
#exercise-about-container {
  background-color:white;
  width: 100%;
  }


  .exercise-about-section{
    background-image: none;
    background-size: 100%;
    background-color: rgba(255, 255, 255,);
    overflow: hidden;
    padding: 0px;
}

.exercise-inner-container{
  position: relative;
  left: 0px;
  /* top: 50px; */
  width: 90%;
  background-color: rgb(255, 255, 255, 0.9);
  padding-top: 2px;
  padding-bottom: 10px;
  padding-left: 2px;
  padding-right: 2px;
}

.exercise-inner-container h1{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 900;
}

.exercise-text{
    font-size: 15px;
    color: black;
    line-height: 30px;
    text-align: justify;
}

.hope-heading {
  color: #fff;
  font-weight: bolder;
  padding: 20px;
  background: linear-gradient(135deg, orange 50%, cyan);
  width: 90vw;
  left: 0;
  overflow: hidden;
}

header {
  padding-right: 0px;
  padding-left: 0px;
} 

#menu {
  font-size: 80%;
  letter-spacing: 4px;
  background-color: #fff;
  vertical-align: top;
  padding: 20px;
}

#menu,
menu ul {
  display: block;
  justify-content: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

#menu,
#menu li {
  list-style-type: none;
  font-size: large;
  margin-right: 10px;

}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  font-weight: bold;
  border: none;
  padding: 0px;
}

.active {
  font-weight: bold;
  border: none;
  padding: 0px;
}

#awareness-intro-image {
  display: block;
  flex-flow: row;
  justify-content: flex-start;
  width: 95vw;
  height: auto;
}

#awareness-intro-image-caption {
  align-self: flex-start;
  padding-left: 0em;
  margin-left: 0em;
  width: 90vw;
  padding-right: 0px;
}

#awareness-image-container {
  background-color: white;       
  padding-left: 0px;
  padding-right: 0px;
  }

.awareness-intro { 
  position: relative; 
  width: 100%; 
}

.awareness-intro-h { 
  position: absolute; 
  top: 200px; 
  left: 30px; 
  width: 100%; 
}

}